<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating User</title>
</head>
<body>

<form th:method="POST" th:action="@{admin/users}" th:object="${userBoy}">
    <label for="name">Enter name: </label>
    <br/>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname: </label>
    <br/>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="age">Enter age: </label>
    <br/>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="login">Enter login: </label>
    <br/>
    <input type="text" th:field="*{login}" id="login"/>
    <br/>
    <label for="password">Enter password: </label>
    <br/>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <input type="submit" value="CREATE"/>
    <br/>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="LOGOUT"/>
    </form>
</form>

</body>
</html>